---
# The workflow to deploy snapshot artifact versions to GitHub packages
# Fill free to adjust java version and additional mvn command-line parameters
# The workflow will trigger on pushes into branches different from main and release
# Please make sure that the version in the pom.xml file has the SNAPSHOT postfix

name: Maven build

on:
  pull_request:
    branches:
    - '**'
    paths-ignore:
      - "docs/**"
      - "*.md"
      - ".github/**"
  push:
    branches-ignore:
      - "main"
      - "**release*"
      - "prettier/**"
      - "dependabot/**"
    paths-ignore:
      - "docs/**"
      - "*.md"
      - ".github/**"
  workflow_dispatch: {}

permissions:
  packages: write
  contents: read

jobs:
  mvn-snapshot-deploy:
    uses: netcracker/qubership-workflow-hub/.github/workflows/re-maven-snapshot-deploy.yaml@3e428f45132119ce49d90f3770a45d4fe1d1078d # v2.0.4
    with:
      java-version: "21"
      maven-version: "3.9.10"
      additional-mvn-args: ""
      target-store: "github-packages"
    secrets:
      maven-token: ${{ secrets.GITHUB_TOKEN }}
      gpg-passphrase: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
      gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
